.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 75em) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 57em) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 39em) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
